.header{
    display:flex;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: 2px solid #e0e0e0;
    align-items: center;
    .image1{
        border-radius: 50%;
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }
    .image2{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 10px;    
    }
    .search{
        width: 50%;
        display: flex;
        align-items: center;
        border: 1px solid #e0e0e0;
            border-radius: 25px;
            padding: 0 20px;
            padding-right: 10px;
            justify-content: space-between;
           
            .input{
                width: 92%;
                height: 25px;
                background-color: #f3f3f3;
                border: none;
                outline: none;
                outline: none;
            }
        .input{
           width: 93%;
            height: 40px;
            border: none;
            outline: none;
            outline: none;
            padding-right: 3px;
           
        }
        .searchIcon{
            width: 35px;
            height: 25px;
           
            border-radius: 25px;
            background-color: #0CAFFF;
            color: white;
           
            position: relative;
            cursor: pointer;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: center;

            .icon{
                font-size: 15px;
            }
        }
    
    }

}