.button{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    .newTopicButton{
        height: 40px;
        cursor: pointer;
        width: 120px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #0CAFFF;
        color: white;
        font-size: 14px;
        .icon{
            font-size: 15px;
            margin-right: 5px;
        }
    }
    .newTopicButton:hover{
        background-color: #00FFFF;
        color: white;
    }
}