*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}


/* css for our page where we write the center box*/
.PostQuestionWritingPlace {
    width: 8.5in;
    min-height: 8in;
    padding: 2rem;
    /* margin: 1rem; */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    /* border: solid 2px red; */
    margin-top: 10px;
    border-radius: 8px;
    /* background-color: black; */
    color: black;
}

/* css for the container containing our page */

.container .ql-container {
    /* border: none; */
    display: flex;
    justify-content: center;
    /* border: solid 2px rgb(60, 0, 255); */
    width: 94%;
    margin: 0;
}


/* css for the toolbar */
/* if we use .ql-toolbar.ql-snow then it would depict more specific selection */

/* .container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px rgb(0, 246, 25);
    border: none;
} */

.container {
    /* border: solid 2px green; */
    width: 100% !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#savedraftbutton {
    border: solid 2px red;
    width: fit-content;
    height: fit-content;
    word-wrap: normal;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 4px;
    background-color: rgb(65, 66, 65);
    color: white;
}

#savedraftbutton:hover {
    background-color: rgb(115, 117, 115);
}